.horizontal-distribution
{
  display: flex;
  justify-content: space-between;
}


.flex-blocks
{
  display: flex;
  flex-wrap: wrap;
  gap: 0 50px;
}


INPUT[type="number"]
{
  max-width: 60px;
}


INPUT[type="range"]
{
  vertical-align: middle;
}


TABLE
{
  border-spacing: 10px;
}


FOOTER
{
  margin-top: 60px;
  text-align: center;
  font-size: small;
}


FOOTER>P
{
  margin: 0;
}
