.view
{
  display: flex;
  justify-content: space-between;
}


TABLE
{
  border-spacing: 10px;
}


FOOTER
{
  margin-top: 60px;
  text-align: center;
  font-size: small;
}


FOOTER>P
{
  margin: 0;
}
